<!DOCTYPE html>
<html>
  <head>
    <title>Mode ShopInv</title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
  </head>
  <body>
    <header class="flexit">
      <h1>Decagon ShopInv</h1>
      <form action="/" method="POST">
        <button type="submit">logout</button>
      </form>
    </header>

    
    <div class="wrap">
      <div class="midBox">
        <h3>Done</h3>
        <h4><%= message %></h4>
        <p>ID: <%= data.id %></p>
        <p>Name: <%= data.name %></p>
        <p>Quantity: <%= data.quantity %></p>
        <p>Price: <%= data.price %></p>
        <p>Total: <%= data.total %></p>
        
      </div>
      <br><br><br>

      <div class="midBox add return">
        <a href="/users/dashboard">Back to dashboard</a>
    </div>

    </div>
    
    <footer>
      <p>© 2023 Inventory Management System. All rights reserved.</p>
    </footer>
    

   
  </body>
</html>
